.showcase {
    background: hsl(280, 60%, 70%);
    width: var(--divSize);
    height: 400px;
    padding: 1%;
    border-radius: 2.5%;
}

.showcase .icon {
    width: var(--imgSize);
    height: auto;
    margin: auto;
}

#projectWrapper {
    background: hsl(280, 60%, 60%);
    width: calc(var(--divSize) * 2);
    padding: 2%;
    margin: auto;
    border-radius: 2.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

a {
    text-decoration: none;
    font-style: italic;
}